.durationGraph_container {
    width: 235px;
    height: 240px;
    border-radius: 5px;
    background: #FF0000;

    .durationGraph_part {
        display: flex;
        height: 50%;
        width: 50%;
        background: black;
    }
}

@media screen and (max-width: 1110px) {
    .durationGraph_container {
        width: 185px;
        height: 195px;
    }
}