.dailyActivity_container {
    width: 748px;
    height: 295px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #FBFBFB;

    .title_calories_kg {
        font-size: 13px;
        display: flex;
        margin-bottom: 50px;
        align-items: center;
        margin: 30px 30px 50px 30px;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 14px;
        }

        .kg_calories {
            display: flex;

            .kg {
                display: flex;
                align-items: center;
                margin-right: 30px;

                i {
                    font-size: 10px;
                    color: #282D30;
                    margin-right: 8px;
                }
            }

            .calories {
                display: flex;
                align-items: center;

                i {
                    font-size: 10px;
                    color: #E60000;
                    margin-right: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 1110px) {
    .dailyActivity_container {
        width: 597.22px;
        height: 295px;
        margin-bottom: 20px;
    }
}