.users {
    list-style: none;
    margin-top: 50px;

    a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-weight: bold;
        transition: font-size 0.2s;

        li {
            margin: 20px;

            &:hover {
                color: #FF0101;
                font-size: 26px;
            }
        }
    }


}