.macro_container {
    .macro {
        background: #f4f4f4;
        height: 124px;
        width: 258px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;


        img {
            border-radius: 5px;
            height: 60px;
            width: 60px;
            margin-right: 30px;
        }

        .values {

            .values_number {
                color: #282D30;
                font-size: 20px;
            }

            .values_name {
                font-size: 14px;
                color: #74798C
            }
        }

    }
}