.durationGraph_container {
    width: 235px;
    height: 240px;
    border-radius: 5px;
    background: #FF0000;
    position: relative;

    .tooltip_duration {
        color: black;
        font-size: 10px;
        width: 40px;
        height: 25px;
        background: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .durationGraph_part {
        position: absolute;
        display: flex;
        height: 100%;
        width: 30%;
        background: rgba(0, 0, 0, 0.12);
        right: 0;
    }

    .daysWeek {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0px 15px;

        li {
            list-style: none;
            font-size: 12.5px;
            color: #ff9f9f;
        }
    }

    .durationSessions {
        position: relative;
        color: #ff9f9f;
        font-size: 15px;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 10px;

        span {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 1110px) {
    .durationGraph_container {
        width: 185px;
        height: 195px;

        .durationSessions {
            font-size: 14px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }
}